<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card text-center">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title " style="font-weight: bold;">Active Users</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-dark" id="myTable">
                                        <thead class=" text-primary">
                                            <th style="font-weight: bold;">
                                                Sl.No
                                            </th>
                                            <th style="font-weight: bold;">
                                                Name
                                            </th>
                                            <th style="font-weight: bold;">
                                                Email
                                            </th>
                                            {{!-- <th style="font-weight: bold;">
                                                View
                                            </th> --}}
                                            <th style="font-weight: bold;">
                                                Action
                                            </th>

                                        </thead>

                                        <tbody>
                                            {{#each userdata}}
                                            <tr class="bg-dark">
                                                <td class="bg-dark">
                                                    {{add @index '1'}}
                                                </td>
                                                <td>
                                                    {{this.Username}}
                                                </td>
                                                <td>

                                                    {{this.Email}}
                                                </td>

                                                {{!-- <td>
                                                    <a class="btn btn-primary btn-sm" href="">Orders</a>
                                                </td> --}}
                                                <td>
                                                    <a class="btn btn-danger btn-sm"
                                                        onclick="blockconfirm('{{this._id}}','{{this.Username}}')">Block</a>
                                                </td>
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>admin-footer}}

    </div>
</div>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>

<script>
    function blockconfirm(userId, userName) {
        swal({
            title: "Are you sure?",
            text: `Do you want to block user: ${userName} ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/admin/change-userstats?id=' + userId,
                        method: 'get',
                        success: (result) => {
                            if (result) {
                                swal("Blocked!", "The user is blocked!", "success", {
                                    button: "OK",
                                }).then(() => {

                                    location.reload()
                                })

                            } else {
                                console.log('Failed to block user')
                            }
                        }
                    })

                }
            });
    }

</script>