<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">

            <div class="row">
                <div class="col-md-1 col-sm-1 col-1"></div>
                <div class="col-md-10 col-sm-10 col-10">
                    <div class="card ">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center" style="font-weight: bold">CATEGORY MANAGEMENT</h4>
                        </div>
                        {{#if Msg}}
                        <div>
                            <h5 class="text-center mt-2" style="color:yellowgreen;font-weight:normal">{{Msg}}</h5>
                        </div>
                        {{/if}}
                        <div class="card-body text-left">

                            <div class="row container">
                                <div class="col-md-5">
                                    <label style="font-weight: bold;color:#fff">Add Main-category</label>
                                    <form action="/admin/add-mainCat" method="post" id="addMainCat">

                                        <div class="row">

                                            <input name="Main_Cat" class="form-control" type="text"
                                                placeholder="Category name">

                                        </div>
                                        <div class="row text-center">

                                            <button type="submit" class="btn btn-success">
                                                <i class="material-icons">add_to_photos</i> Add Category</button>

                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-7 text-center">
                                    <label style="font-weight: bold;color:#fff">Add Sub-category</label>
                                    <form action="/admin/add-subCat" method="post" enctype="multipart/form-data"
                                        id="addSubCat">

                                        <div class="row">

                                            <div class="col-md-8">
                                                <input name="Sub_Cat" class="form-control" type="text"
                                                    placeholder="Sub-category name">
                                            </div>

                                            <div class="col-md-4">
                                                <select name="mainCat_Id"
                                                    style="background:#202940;color:#8b92a9;border:none">
                                                    <option value="" selected disabled>Choose a category</option>
                                                    {{#each Categories}}
                                                    <option value="{{this._id}}">{{this.Main_Cat}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                                <label 
                                                    class="btn btn-primary btn-sm" for="file1">Add Image</label>

                                                <input data-toggle="modal"  name="Img1" type="file" class="my-2 form-control-file" id="file1"
                                                    onchange="return fileValidation1()" hidden>

                                            </div>

                                            <div class="col-md-3">
                                                <img src="" alt="" style="width: 50px; height:auto;margin-top:5px" id="imgview1">
                                                <div id="errMsg1"></div>
                                            </div>

                                            <div class="col-md-6" >
                                                <button type="submit" class="btn btn-success" id="confirm-btn">
                                                    <i class="material-icons">add_to_photos</i> Add sub-category</button>
                                            </div>
                                        </div>


                                    </form>

                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered" role="document">

                                            <div class="modal-content">

                                                <div class="modal-header">

                                                    <h4 class="modal-title" style="font-weight: bold;"
                                                        id="exampleModalLongTitle">Crop Image</h4>

                                                </div>

                                                <div class="modal-body">
                                                    <div id="image-box" style="display:none;">
                                                    </div>
                                                </div>

                                                <div class="modal-footer">

                                                    <button onclick="buttonDisplay()" type="button"
                                                        class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button id="crop-btn" data-dismiss="modal" type="button"
                                                        class="btn btn-primary">Crop</button>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row" style="margin-top: 30px;">

                                <div class="col-md-12">

                                    <table class="table table-dark" id="myTable">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Sl.No</th>
                                                <th class="text-center" scope="col">Main Category</th>
                                                <th class="text-center" scope="col">Sub-Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#each Categories}}
                                            <tr class="bg-dark">

                                                <td class="text-center bg-dark">{{add @index '1'}}</td>

                                                <td class="text-left">
                                                    <button type="button" rel="tooltip" title="Remove Category"
                                                        class="btn btn-white btn-link btn-sm p-0 pb-1"
                                                        onclick="confirmMainCatDelete('{{this._id}}','{{this.Main_Cat}}')">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                    {{this.Main_Cat}}
                                                </td>

                                                <td>
                                                    <ol>

                                                        {{#each this.Sub_Cat}}

                                                        <div class="d-flex" style="margin-top: 10px;">

                                                            <button type="button" rel="tooltip"
                                                                title="Remove Sub-Category"
                                                                class="btn btn-white btn-link btn-sm p-0 pb-1 mr-4"
                                                                onclick="confirmSubcatDelete('{{../this._id}}','{{this.subCatId}}','{{this.Sub_Cat}}')">
                                                                <i class="material-icons">delete</i>
                                                            </button>

                                                            <li><span><img style="width:50px;height:50px"
                                                                        src="/sub-category-images/{{this.subCatId}}SCI.jpg"
                                                                        alt=""></span><span
                                                                    style="margin-left: 10px;">{{this.Sub_Cat}}</span>
                                                            </li>

                                                        </div>

                                                        {{/each}}

                                                    </ol>
                                                </td>

                                            </tr>

                                            {{/each}}

                                        </tbody>
                                    </table>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-1 col-sm-1 col-1"></div>

            </div>

        </div>



        {{>admin-footer}}

    </div>
</div>

<script>
    function confirmMainCatDelete(catId, catName) {

        swal({
            title: "Are you sure?",
            text: `Do you want to delete the category ${catName} ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/admin/delete-category?id=' + catId,
                    method: 'get',
                    success: (result) => {
                        if (result) {
                            sessionStorage.setItem("mainCatDeleted", "true");
                            location.reload()
                        } else {
                            console.log('Failed to delete Main-category')
                        }
                    }
                })

            }
        });

    }

    function confirmSubcatDelete(mainCatId, subCatId, subCatName) {
        swal({
            title: "Are you sure?",
            text: `Do you want to delete the category ${subCatName} ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/admin/delete-subCategory?catId=' + mainCatId + '&subCatId=' + subCatId,
                    method: 'get',
                    success: (result) => {
                        if (result) {
                            sessionStorage.setItem("subCatDeleted", "true");
                            location.reload()
                        } else {
                            console.log('Failed to delete Sub-category')
                        }
                    }
                })

            }
        });
    }

</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<script>

    function buttonDisplay() {
        document.getElementById('confirm-btn').style.display = 'block';
        document.getElementById('file1').value=''
    }



    function fileValidation1() {

        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file1');

        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.webp|\.png)$/i;

        if (!allowedExtensions.exec(filePath)) {

            document.getElementById('errMsg1').innerHTML = '<p style="color:red;">Unsupported file type</p>'
            fileInput.value = '';
            return false;

        } else {

             //Image input field id
            var fileTrue = document.getElementById('file1').onchange.length
            if (fileTrue == 1) {
                document.getElementById('file1').dataset.target = '#exampleModalCenter'
                //Give modal target to the input field

                //add a click event to the input field so that the modal could open
                document.getElementById('file1').click()

                //Making filetrue to 0 So that the modal will only open if there is a file 
                fileTrue = 0
            }
            //Making data target to none so that modal will open if there is a file
            document.getElementById('file1').dataset.target = 'none'

            //Image preview
            document.getElementById('errMsg1').innerHTML = ''
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'block'
            document.getElementById('confirm-btn').style.display = 'none'

            const cropper = new Cropper(image, {

                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 157 / 155,
                //preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,

            })

            crop_btn.addEventListener('click', () => {

                cropper.getCroppedCanvas().toBlob((blob) => {

                    let fileInputElement = document.getElementById('file1');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();

                    container.items.add(file);
                    const img = container.files[0]
                    var url = URL.createObjectURL(img)
                    fileInputElement.files = container.files;
                    document.getElementById('imgview1').src = url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'block'

                });

            });

        }

    }


</script>

<style>
    .table thead tr th {
        font-weight: bold;

    }
</style>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });


</script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation
    $(document).ready(function () {

        $.validator.addMethod("alpha", function (value, element) {
            return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        });

        $('#addMainCat').validate({

            rules: {

                Main_Cat: {
                    required: true,
                    minlength: 5,
                    alpha: true
                }

            },
            messages: {
                Main_Cat: {
                    required: "This field cannot be left blank",
                    minlength: "Category name is too short",
                    alpha: "Category name should only be of alphabets"
                }
            }

        });

        $('#addSubCat').validate({

            ignore:"",

            rules: {

                Sub_Cat: {
                    required: true,
                    minlength: 5,
                    alpha: true
                },
                Img1: {
                    required: true
                },
                mainCat_Id: {
                    required: true
                }

            },

            messages: {
                Sub_Cat: {
                    required: "This field cannot be left blank",
                    minlength: "Category name is too short",
                    alpha: "Category name should only be of alphabets"
                },
                Img1: {
                    required: "Choose an image"
                },
                mainCat_Id: {
                    required: "Select a main category"
                }
            }

        })
    })

</script>
<style>
    .error {
        color: red !important;
        font-size: small !important;
        margin-left: 10px
    }
</style>