<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">

            <div class="row">
                <div class="col-md-1 col-sm-1 col-1"></div>
                <div class="col-md-10 col-sm-10 col-10">
                    <div class="card ">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center" style="font-weight: bold">COUPON MANAGEMENT</h4>
                        </div>
                        {{#if Msg}}
                        <div>
                            <h5 class="text-center mt-2" style="color:yellowgreen;font-weight:normal">{{Msg}}</h5>
                        </div>
                        {{/if}}

                        <div class="card-body text-left">

                            <div class="row">
                                <div class="col">

                                    <div class="text-center">
                                        <button class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#exampleModalCenter"><i
                                                class="material-icons">add_to_photos</i> Add
                                            new-coupon</button>
                                    </div>

                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" style="font-weight: bold;"
                                                        id="exampleModalCenterTitle">ADD NEW COUPON
                                                    </h5>
                                                </div>

                                                <div class="modal-body d-flex justify-content-center">
                                                    <form action="/admin/add-coupon" class="text-center" method="post"
                                                        id="addCoupon">

                                                        <label style="color: black;" >Coupon code</label>
                                                        <input name="Coupon_Code" class="form-control" type="text"
                                                            placeholder="Coupon-code" style="color: black;"><br>

                                                        <label style="color: black;">Coupon percentage</label>
                                                        <input style="color: black;" name="Coupon_Percentage"
                                                            class="form-control" type="number"
                                                            placeholder="Percentage"><br>

                                                        <label style="color: black;">Expiry date</label>
                                                        <input id="expiryDate" class="form-control " name="expiryDate"
                                                            type="date" style="color: black;" min="{{todayDate}}"><br>

                                                        <button type="button" class="btn btn-secondary mt-5"
                                                            data-dismiss="modal">Close</button>
                                                        <button id="confirm-btn" type="submit"
                                                            class="btn btn-success mt-5"> Add
                                                            Coupon</button>

                                                    </form>



                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-dark" id="myTable">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Sl.No</th>
                                                <th class="text-center" scope="col">Coupon Code</th>
                                                <th class="text-center" scope="col">Percentage</th>
                                                <th class="text-center" scope="col">Expiry date</th>
                                                <th class="text-center" scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#each coupons}}
                                            <tr class="bg-dark">

                                                <td class="text-center bg-dark">{{add @index '1'}}</td>

                                                <td class="text-center">
                                                    {{this.Coupon_Code}}
                                                </td>

                                                <td class="text-center">
                                                    {{this.Coupon_Percentage}}
                                                </td>
                                               
                                                <td class="text-center">
                                                    {{this.expiryDateToDisplay}}
                                                </td>
                                                <td class="text-center">

                                                    <button type="button" rel="tooltip" title="Remove"
                                                        class="btn btn-white btn-link btn-sm"
                                                        onclick="confirmCouponDelete('{{this.Coupon_Code}}','{{this._id}}')">

                                                        <i class="material-icons">delete</i>

                                                    </button>

                                                </td>

                                            </tr>

                                            {{/each}}

                                        </tbody>
                                    </table>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-1 col-sm-1 col-1"></div>

            </div>



        </div>

        {{>admin-footer}}

    </div>
</div>

<style>
    .table thead tr th {
        font-weight: bold;

    }
</style>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    }); myTable

</script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation
    $(document).ready(function () {



        $('#addCoupon').validate({
            ignore: "",
            rules: {

                Coupon_Code: {
                    required: true,
                    minlength: 5,
                    maxlength: 10
                },
                Coupon_Percentage: {
                    required: true,
                    maxlength: 2
                },
                expiryDate: {
                    required: true
                }

            },
            messages: {
                Coupon_Code: {
                    required: "This field cannot be left blank",
                    minlength: "Coupon code is too short",
                    maxlength: "Coupon code too long"
                },
                Coupon_Percentage: {
                    required: "This field cannot be left blank",
                    maxlength: "Invalid input"
                },
                 expiryDate: {
                    required: "Please set an expiry date"
                }
            }

        });


    })

</script>
<style>
    .error {
        color: red !important;
        font-size: small !important;
        margin-left: 10px
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<script>
    function confirmCouponDelete(couponCode, couponId) {

        swal({
            title: "Are you sure?",
            text: `Do you want to delete the coupon "${couponCode}" ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/admin/delete-coupon?couponId=' + couponId,
                    method: 'get',
                    success: (result) => {
                        if (result) {
                            sessionStorage.setItem("couponDeleted", "true");
                            location.reload()
                        } else {
                            console.log('Failed to delete Coupon')
                        }
                    }
                })

            }
        });

    }
</script>