<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center" style="font-weight: bold">Add Product brand</h4>

                        </div>
                        <div class="card-body">
                            {{#if Msg}}
                            <div>
                                <h5 class="text-center mt-2" style="color:yellowgreen;font-weight:normal">{{Msg}}</h5>
                            </div>
                            {{/if}}

                            {{#if Err}}
                            <div>
                                <h5 class="text-center mt-2" style="color:red;font-weight:normal">{{Err}}</h5>
                            </div>
                            {{/if}}

                            <form method="POST" action="/admin/add-prodBrand" enctype="multipart/form-data"
                                id="addProdBrand">

                                <div class="row">

                                    <div class="col-4">
                                        <label class="d-flex justify-content-center" style="font-weight: bold;">Brand
                                            Name</label>
                                        <input name="Prod_Brand" type="text" class="form-control">
                                    </div>

                                    <div class="col-4">

                                        <div class="row d-flex justify-content-center">

                                            <label style="font-weight:bold;">Logo Image</label>

                                        </div>

                                        <div class="row d-flex justify-content-center">

                                            <img src="" alt="" style="width: 50px; height:auto" id="imgview1">

                                        </div>

                                        <div class="row d-flex justify-content-center">

                                            <label data-toggle="modal" data-target="#exampleModalCenter"
                                                class="btn btn-primary btn-sm" for="file1">Add Image</label>

                                            <div id="errMsg1"></div>

                                            <input style="display:none" name="Img1" type="file"
                                                class="my-2 form-control-file" id="file1"
                                                onchange="return fileValidation1()">

                                        </div>

                                    </div>

                                    <div class="col-4 d-flex justify-content-center">

                                        <button type="submit" id="confirm-btn" class="btn btn-primary btn-sm"><i
                                                class="material-icons">add_to_photos</i></button>

                                    </div>

                                </div>


                                <!-- Modal for cropping-->

                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                    <div class="modal-dialog modal-dialog-centered" role="document">

                                        <div class="modal-content">

                                            <div class="modal-header">

                                                <h4 class="modal-title" style="font-weight: bold;"
                                                    id="exampleModalLongTitle">Crop
                                                    Image</h4>

                                                <button onclick="buttonDisplay()" type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>

                                            </div>

                                            <div class="modal-body">
                                                <div id="image-box" style="display:none;"></div>
                                            </div>

                                            <div class="modal-footer">

                                                <button onclick="buttonDisplay()" type="button"
                                                    class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button id="crop-btn" data-dismiss="modal" type="button"
                                                    class="btn btn-primary">Crop</button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>



            </div>


            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center" style="font-weight: bold">Product brands</h4>
                        </div>
                        <div class="card-body text-center">

                            <table class="table" id="myTable">
                                <thead class=" text-primary">
                                    <th style="font-weight: bold;">
                                        Sl.No
                                    </th>
                                    <th style="font-weight: bold;">
                                        Name
                                    </th>
                                    <th style="font-weight: bold;">
                                        Logo
                                    </th>
                                    <th style="font-weight: bold;">
                                        Action
                                    </th>

                                </thead>
                                <tbody>
                                    {{#each prodBrands }}
                                    <tr>
                                        <td>
                                            {{add @index '1'}}
                                        </td>
                                        <td>
                                            {{this.Prod_Brand}}
                                        </td>
                                        <td>
                                            <img style="width:50px;height:50px" src="/product-brand-logos/{{this._id}}PBL.jpg"
                                                alt="">
                                        </td>

                                        <td>

                                            <button type="button" rel="tooltip" title="Remove Car Brand"
                                                class="btn btn-white btn-link btn-sm"
                                                onclick="return confirm('Do you want to delete product - {{this.Prod_Brand}} ?')">
                                                <a href="/admin/delete-prodBrand?id={{this._id}}">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>



            </div>


        </div>



        {{>admin-footer}}
       

    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<script>

    function buttonDisplay() {
        document.getElementById('confirm-btn').style.display = 'block';
    }


    function fileValidation1() {

        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file1');

        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.webp|\.png)$/i;

        if (!allowedExtensions.exec(filePath)) {

            document.getElementById('errMsg1').innerHTML = '<p style="color:red;">Unsupported file type</p>'
            fileInput.value = '';
            return false;

        } else {

            //Image preview
            document.getElementById('errMsg1').innerHTML = ''
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'block'
            document.getElementById('confirm-btn').style.display = 'none'

            const cropper = new Cropper(image, {

                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 157 / 155,
                //preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,

            })

            crop_btn.addEventListener('click', () => {

                cropper.getCroppedCanvas().toBlob((blob) => {

                    let fileInputElement = document.getElementById('file1');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();

                    container.items.add(file);
                    const img = container.files[0]
                    var url = URL.createObjectURL(img)
                    fileInputElement.files = container.files;
                    document.getElementById('imgview1').src = url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'block'

                });

            });

        }

    }


</script>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation
    $(document).ready(function () {

        $('#addProdBrand').validate({

            rules: {

                Prod_Brand: {
                    required: true,
                    minlength: 3
                },
                Img1:{
                    required:true
                }

            },

            messages:{

                Sub_Cat: {
                    required: "This field cannot be left blank",
                    minlength: "Brand name is too short"
                },
                Img1:{
                    required:"This field cannot be left blank"
                }

            }
            
        })
    })

</script>
<style>
    .error {
        color: red !important;
        font-size: small !important;
        margin-left: 10px
    }
</style>