<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a title="Add New Product" role="button" href="/admin/add-product" class="btn btn-primary"><span
                                class="material-icons" style="margin-right:0.5rem;">add_box</span>Add</a>
                        <div class="card text-center">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title" style="font-weight: bold">All Products</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-dark" id="myTable">
                                        <thead class=" text-primary">
                                            <th style="font-weight: bold;">
                                                Sl.No
                                            </th>
                                            <th style="font-weight: bold;">
                                                Name
                                            </th>
                                            <th style="font-weight: bold;">
                                                Date
                                            </th>

                                            <th style="font-weight: bold;">
                                                Image
                                            </th>
                                            <th style="font-weight: bold;">
                                                Brand
                                            </th>

                                            <th style="font-weight: bold;">
                                                Category
                                            </th>
                                            <th style="font-weight: bold;">
                                                Car Model
                                            </th>
                                            <th style="font-weight: bold;">
                                                Price
                                            </th>
                                            <th style="font-weight: bold;">
                                                Stock
                                            </th>
                                            <th style="font-weight: bold;">
                                                Action
                                            </th>

                                        </thead>
                                        <tbody>
                                            {{#each products}}
                                            <tr class="bg-dark">
                                                <td class="bg-dark">
                                                    {{add @index '1'}}
                                                </td>
                                                <td>
                                                    {{this.Product_Name}}
                                                </td>
                                                <td>
                                                    {{this.Date}}
                                                </td>
                                                <td>
                                                    <img style="width:50px;height:50px"
                                                        src="/product-images/{{this._id}}_1.jpg" alt="">
                                                </td>
                                                <td>
                                                    {{this.Product_Brand}}
                                                </td>
                                                <td>
                                                    {{this.Sub_Category}}
                                                </td>
                                                <td>
                                                    {{this.Car_Model}}
                                                </td>
                                                <td class="text-primary">
                                                    ₹ {{this.Price}}
                                                </td>
                                                <td class="text-primary">
                                                    {{this.Stock}}
                                                </td>
                                                <td style="display: flex;">

                                                    <button type="button" rel="tooltip" title="Edit Product"
                                                        class="btn btn-white btn-link btn-sm">
                                                        <a href="/admin/edit-product?id={{this._id}}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    </button>

                                                    <button type="button" rel="tooltip" title="Remove"
                                                        class="btn btn-white btn-link btn-sm"
                                                        onclick="return confirm('Do you want to delete product - {{this.Product_Name}} ?')">
                                                        <a href="/admin/delete-product/{{this._id}}">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    </button>

                                                </td>
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>admin-footer}}

    </div>
</div>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });myTable

</script>