<div class="wrapper ">
    {{>admin-sidebar}}
    <div class="main-panel">
        {{>admin-navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                         <a title="Add New Product" role="button" href="/admin/add-product" class="btn btn-primary"><span class="material-icons" style="margin-right:0.5rem;">add_box</span>Add</a>
                        <div class="card text-center">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title" style="font-weight: bold">All Products</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th style="font-weight: bold;">
                                                Sl.No
                                            </th>
                                            <th style="font-weight: bold;">
                                                Name
                                            </th>
                                            <th style="font-weight: bold;">
                                                Date / Time
                                            </th>
                                            <th style="font-weight: bold;">
                                                Image
                                            </th>
                                            <th style="font-weight: bold;">
                                                Brand
                                            </th>

                                            <th style="font-weight: bold;">
                                                Category
                                            </th>
                                            <th style="font-weight: bold;">
                                                Car Model
                                            </th>
                                            <th style="font-weight: bold;">
                                                Price
                                            </th>
                                            <th style="font-weight: bold;">
                                                Action
                                            </th>

                                        </thead>
                                        <tbody>
                                            {{#each products}}
                                            <tr>
                                                <td>
                                                    {{add @index '1'}}
                                                </td>
                                                <td>
                                                    {{this.Product_Name}}
                                                </td>
                                                 <td>
                                                    {{this.Date}}
                                                </td>
                                                <td>
                                                    <img style="width:50px;height:50px"
                                                        src="/product-images/{{this._id}}_1.jpg" alt="">
                                                </td>
                                                <td>
                                                    {{this.Product_Brand}}
                                                </td>
                                                <td>
                                                    {{this.Sub_Category}}
                                                </td>
                                                <td>
                                                    {{this.Car_Model}}
                                                </td>
                                                <td class="text-primary">
                                                    ₹ {{this.Price}}
                                                </td>
                                                <td style="display: flex;">

                                                         <button type="button" rel="tooltip" title="Edit Product"
                                                            class="btn btn-white btn-link btn-sm">
                                                            <a href="/admin/edit-product?id={{this._id}}" >
                                                            <i class="material-icons">edit</i>
                                                            </a>
                                                        </button>

                                                         <button type="button" rel="tooltip" title="Remove"
                                                            class="btn btn-white btn-link btn-sm" onclick="return confirm('Do you want to delete product - {{this.Product_Name}} ?')">
                                                            <a href="/admin/delete-product/{{this._id}}">
                                                            <i class="material-icons">delete</i>
                                                            </a>
                                                        </button>


                                                    {{!-- <a href="/admin/edit-product?id={{this._id}}" ><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-pencil"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                        </svg></a>
                                                    <a class="ml-2" href="/admin/delete-product/{{this._id}}"
                                                        onclick="return confirm('Do you want to delete product - {{this.Product_Name}} ?')"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path
                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                            <path fill-rule="evenodd"
                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                        </svg></a> --}}
                                                </td>
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>admin-footer}}
        
    </div>
</div>