<script>

  function searchProd() {

    let input = document.getElementById('searchtext').value

    if (input != '') {

      document.getElementById('searchResult').innerHTML = ''

      $.ajax({

        url: '/search',
        method: 'post',
        data: {
          keyword: input
        },
        success: (response) => {

          document.getElementById('searchResErr').style.display = 'none'

          if (response.length > 0) {

            var result = []

            for (i = 0; i < response.length; i++) {

              result[i] = {
                name: response[i].Product_Name,
                id: response[i]._id
              }

            }

            var atag = []

            for (i = 0; i < response.length; i++) {

              atag[i] = document.createElement('a')

              atag[i].setAttribute('id', `${result[i].id}`);
              atag[i].innerHTML = `<img src="/product-images/${result[i].id}_1.jpg"  style="height: 50px;float:left;border-radius:80px" alt="">${result[i].name}`
              atag[i].setAttribute('style', 'margin-left: 25px')
              atag[i].href = `/view-product?id=${result[i].id}`

              $("#searchResult").append(atag[i]);
              $("#searchResult").append(`<hr>`)
              $("#searchResult").append(`<br>`)

            }



          } else {

            document.getElementById('searchResult').innerHTML = ''
            document.getElementById('searchResErr').style.display = 'block'
            document.getElementById('searchResErr').innerHTML = 'No match found'

          }

        }

      })

    } else {
      document.getElementById('searchResult').innerHTML = ''
      document.getElementById('searchResErr').style.display = 'block'
      document.getElementById('searchResErr').innerHTML = 'Input field is blank'
    }

  }

</script>

<header id="navbar-spy" class="header header-1">

  <nav id="primary-menu" class="navbar navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#header-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="/">
          <img src="/images/logo/otto.png" alt="Autoshop">
        </a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <a href="/">Home</a>
          </li>

          <li class="has-dropdown">
            <a style="cursor: pointer;" data-toggle="dropdown" class="dropdown-toggle">shop</a>
            <ul class="dropdown-menu">

              <li>
                <a href="/all-brands">Shop by car </a>
              </li>

              <li>
                <a href="/choose-category">Shop by category</a>
              </li>

              <li>
                <a href="/shop">All products</a>
              </li>

            </ul>
          </li>

          {{!-- <li>
            <a href="#aboutus">about</a>
          </li> --}}

          <li>
            <a href="#aboutus">Contact</a>
          </li>

        </ul>

        <div class="module module-search pull-left">
          <div class="search-icon">
            <i class="fa fa-search"></i>
            <span class="title">search</span>
          </div>
          <div class="search-box">
            <form class="search-form">
              <div class="input-group">
                <input type="text" class="form-control" id="searchtext" placeholder="Type Your Search Words">
                <span class="input-group-btn">
                  <button class="btn" onclick="searchProd()" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>

            </form>
            <span id="searchResErr" style="color:red"></span>
            <div id="searchResult" style="overflow-y: scroll;height:200px">

            </div>

          </div>
        </div>


        <div class="module module-cart pull-left">

          <div class="cart-icon">
            {{#if user}}
            <a href="/cart" style="color: #fff;"><i class="fa fa-shopping-cart"></i>
            <span class="title">shop cart</span>
            </a>
            <span class="cart-label" id="cart-count">{{cartCount}}</span>
            {{else}}
            <a href="/login?token=guestToCartPage&guestRedirect=true" style="color: #fff;"><i class="fa fa-shopping-cart"></i>
            <span class="title">shop cart</span>
            </a>
            {{/if}}

          </div>

        </div>

        <div class="module module-wishlist pull-left">
          <div class="wishlist-icon">
            {{#if user}}
            <a href="/wishlist" style="color: #fff;">
              <i class="fa fa-heart"></i>
            <span class="title">Wishlist</span>
            </a>
            {{else}}
            <a href="/login?token=guestToWishlist&guestRedirect=true" style="color: #fff;">
              <i class="fa fa-heart"></i>
            <span class="title">Wishlist</span>
             </a>
            {{/if}}
          </div>

        </div>

        <ul class="nav navbar-nav navbar-left">

          {{#if user}}

          <li class="has-dropdown">

            <a data-toggle="dropdown" class="dropdown-toggle">

              <div class="module module-user pull-left">
                <div class="user-icon">
                  <i class="fa fa-user"></i>
                  <span class="title">{{user.Username}}</span>
                </div>
              </div>

            </a>
            <ul class="dropdown-menu">

              <li>
                <a href="/profile">Profile</a>
              </li>

              <li>
                <a href="/all-orders">Orders</a>
              </li>

              <li>
                <a href="/logout">Logout</a>
              </li>

            </ul>
          </li>

          {{else}}

          <li class="has-dropdown">

            <a data-toggle="dropdown" class="dropdown-toggle">

              <div class="module module-user pull-left">
                <div class="user-icon">
                  <i class="fa fa-user"></i>
                  <span class="title">Account</span>
                </div>
              </div>

            </a>
            <ul class="dropdown-menu">

              <li>
                <a href="/login">Sign-in</a>
              </li>

              <li>
                <a href="/signup">Register</a>
              </li>

            </ul>
          </li>

          {{/if}}


        </ul>

      </div>

    </div>

  </nav>
</header>