{{>userheader}}

<section id="page-title" class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>MY ORDERS</h3>
            </div>


        </div>

    </div>

</section>

<section>
    <div class="container">
        <div class="row">
            <div class="containing-table table-responsive">
                <div class="centre-align">
                    
                    <table class="table table-bordered table-hover">

                        <thead style="background-color: black">
                            <tr>
                                <th>No</th>
                                <th>Date</th>

                                <th>Name</th>
                                <th>Address</th>
                                <th>Payment Method</th>
                                <th>Total Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each allOrders}}

                            <tr>

                                <td scope="row">{{add @index '1'}}</td>

                                <td>{{this.Date}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{this.Address.Company_Name}} <br>
                                    {{this.Address.Street_Address}} <br>
                                    {{this.Address.Extra_Details}} <br>
                                    {{this.Address.Town_City}} <br>
                                    {{this.Address.Country_State}} <br>
                                    {{this.Address.Post_Code}}<br>
                                    {{this.Phone.Phone}}<br>
                                    {{this.Phone.Alt_Phone}}
                                </td>
                                <td>{{this.Pay_Method}}</td>
                                <td>{{this.Total_Amount}}</td>
                                <td>
                                    <a href="/view-prodsInOrder?orderId={{this._id}}" class="btn btn-info btn-sm">View
                                        Products</a>
                                </td>

                            </tr>

                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</section>

{{>userfooter}}


<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>




<script>

    $(document).ready(function () {
        $('#Search').DataTable();
    });

</script>

<style>
    th {
        color: #fff !important;
        text-align: center!important;
    }

    td {
        vertical-align: middle!important;
        color: black
        
    }
    .centre-align{
        text-align: center!important;
        
        
    }
</style>