{{>userheader}}

<section id="page-title" class="page-title" style="padding-bottom: 0;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3 style="text-align: left;">CHOOSE A CATEGORY</h3>
            </div>


        </div>

    </div>

</section>

<section style="padding-top: 0;">

    <div class="container">

        <ul style="width:100%" class="nav  nav-tabs navbar-nav navbar-left">
            {{#each category}}

            {{#eq @index 0}}
            <li class="active">
                {{else}}
            <li>
                {{/eq}}
                <a style="color:black" data-toggle="tab" href="#{{this._id}}">{{this.Main_Cat}}</a>
            </li>

            {{/each}}

        </ul>

        <div class="tab-content">
            {{#each category}}
            {{#eq @index 0}}
            <div class="tab-pane active" id="{{this._id}}">
                {{else}}
                <div class="tab-pane" id="{{this._id}}">
                    {{/eq}}
                    <div class="row product-boxes">

                        {{#each this.Sub_Cat}}
                        <div class="col-md-3 product-box">

                            <a href="/shopByCat?subCat={{this.Sub_Cat}}">

                                <div class="product-img" style="display:flex; justify-content:center;">
                                    <img src="sub-category-images/{{this.subCatId}}SCI.jpg"
                                        style="height:150px;width:150px" alt="Product" />
                                </div>

                                <div class="text-center" style="margin-top:12px;">
                                    <h6>{{this.Sub_Cat}}</h6>
                                </div>

                            </a>

                        </div>
                        {{/each}}

                    </div>
                </div>

                {{/each}}


            </div>

        </div>
    </div>

</section>
{{>userfooter}}