{{!--
<script src="print.js"></script>
<link rel="stylesheet" type="text/css" href="print.css"> --}}
<div class="container">

    <div class="toolbar hidden-print">
        <br>
        <div class="text-right">
            <button id="printInvoice" style="background-color: #7952b3;" class="btn btn-info" onclick="printForm()"><i
                    class="fa fa-print"></i> Print</button>
            <button class="btn btn-info" onclick="getInvoice()" style="background-color: #7952b3;"><i
                    class="fa fa-download" aria-hidden="true"></i> Download Invoice</button>
        </div>

    </div>
    <div class='container'>
        <div class="invoice overflow-auto " id="invoice">
            <div class=" col-md-12 ">
                <header style="background-color: black;">
                    <div class="row" style="margin: 0;">
                        <div class="col-md-4 logo_agile">

                            <a href="/" class="font-weight-bold font-italic">
                                <img src="images/logo/otto.png" alt=" " style="width: 250px;" class="img-fluid">
                            </a>

                        </div>
                        <div class="col-md-8 company-details">
                            <h3 class="name">
                                <a style="color: #fff;" target="_blank" href="https://lobianijs.com">
                                    Team-oTTomotiv
                                </a>
                            </h3>
                            <p style="margin: 0;">Opp Malabar Eye Hospital Kaizen Tower,</p>
                            <p style="margin: 0;">Eranhipaalam, Kozhikode,</p>
                            <p style="margin: 0;">Kerala 673006</p>
                        </div>
                    </div>
                </header>


                <main style="padding-left: 50px;padding-right: 50px">
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to">{{order.Name}}</h2>
                            <div class="address">{{order.Address.Company_Name}}<br>
                                {{order.Address.Street_Address}},{{order.Address.Extra_Details}}<br>
                                {{order.Address.Town_City}},{{order.Address.Country_State}}<br>
                                PIN: {{order.Address.Post_Code}}<br>
                                {{order.Address.Phone.Phone}}
                            </div>
                        </div>
                        <div class="col invoice-details">
                            <div class="text-gray-light">INVOICE ID:{{order._id}}</div>
                            <div class="date">Date of Invoice: {{order.Date}}</div>
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0" class="col-sm-12">
                        <thead>
                            <tr>
                                <th>SL NO</th>
                                <th class="text-left">PRODUCT</th>
                                <th class="text-right">UNIT PRICE</th>
                                <th class="text-right">QTY</th>
                                <th class="text-right">TOTAL</th>
                            </tr>
                        </thead>
                        {{#eq order.Mode 'buynow'}}
                        <tbody>

                            <tr>
                                <td class="no">1</td>
                                <td class="text-left">{{order.Product_Name}}</td>
                                <td class="unit">₹ {{order.Price}}</td>
                                <td class="qty">1</td>
                                <td class="total">₹ {{order.Total_Amount}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">SUBTOTAL</td>
                                <td>₹ {{order.Total_Amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">TAX 25%</td>
                                <td>$1,300.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">GRAND TOTAL</td>
                                <td>₹ {{order.Total_Amount}}</td>
                            </tr>
                        </tfoot>
                        {{else}}



                        <tbody>

                            <tr>
                                <td class="no">1</td>
                                <td class="text-left">{{product.Product_Name}}</td>
                                <td class="unit">₹ {{product.price}}</td>
                                <td class="qty">{{product.quantity}}</td>
                                <td class="total">₹ {{product.total}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">SUBTOTAL</td>
                                <td>₹ {{product.total}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">TAX 25%</td>
                                <td>$1,300.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">GRAND TOTAL</td>
                                <td>₹ {{product.total}}</td>
                            </tr>
                        </tfoot>

                        {{/eq}}

                    </table>
                    {{!-- <div class="thanks">Thank you!</div> --}}
                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice">Goods once sold cannot be returned back unless damaged </div>
                    </div>
                </main>


                <footer>
                    Invoice was created on a computer and is valid without the signature and seal.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script>
    var element = document.getElementById('invoice');
    function getInvoice() {
        html2pdf(element);
    }
</script>
<script>
    function printForm() {
        printJS({
            printable: 'invoice',
            type: 'html',
            targetStyles: ['*'],
            header: 'PrintJS - Print Form With Customized Header'
        })
    }
</script>

<style>
    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #7952b3
    }

    .invoice .company-details {
        text-align: right
    }

    .invoice .company-details .name {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .contacts {
        margin-bottom: 20px
    }

    .invoice .invoice-to {
        text-align: left
    }

    .invoice .invoice-to .to {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .invoice-details {
        text-align: right
    }

    .invoice .invoice-details .invoice-id {
        margin-top: 0;
        color: #7952b3
    }

    .invoice main {
        padding-bottom: 50px
    }

    .invoice main .thanks {
        margin-top: -100px;
        font-size: 2em;
        margin-bottom: 50px
    }

    .invoice main .notices {
        padding-left: 6px;
        border-left: 6px solid #7952b3
    }

    .invoice main .notices .notice {
        font-size: 1.2em
    }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

    .invoice table td,
    .invoice table th {
        padding: 15px;
        background: #eee;
        border-bottom: 1px solid #fff
    }

    .invoice table th {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px
    }

    .invoice table td h3 {
        margin: 0;
        font-weight: 400;
        color: #7952b3;
        font-size: 1.2em
    }

    .invoice table .qty,
    .invoice table .total,
    .invoice table .unit {
        text-align: right;
        font-size: 1.2em
    }

    .invoice table .no {
        color: #fff;
        font-size: 1.6em;
        background: #7952b3
    }

    .invoice table .unit {
        background: #ddd
    }

    .invoice table .total {
        background: #7952b3;
        color: #fff
    }

    .invoice table tbody tr:last-child td {
        border: none
    }

    .invoice table tfoot td {
        background: 0 0;
        border-bottom: none;
        white-space: nowrap;
        text-align: right;
        padding: 10px 20px;
        font-size: 1.2em;
        border-top: 1px solid #aaa
    }

    .invoice table tfoot tr:first-child td {
        border-top: none
    }

    .invoice table tfoot tr:last-child td {
        color: #7952b3;
        font-size: 1.4em;
        border-top: 1px solid #7952b3
    }

    .invoice table tfoot tr td:first-child {
        border: none
    }

    .invoice footer {
        width: 100%;
        text-align: center;
        color: #777;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

    @media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important
        }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice>div:last-child {
            page-break-before: always
        }
    }
</style>