<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <p>OTP</p>
            <h6>Verification</h6>

            {{#if err}}
            <p style="color: red;">{{err}}</p>
            {{/if}}

            {{#if Msg}}
            <p style="color: yellowgreen;">{{Msg}}</p>
            {{/if}}

            <div class="sign-form">
                <form class="mb-0" action="/otpverify" method="POST" id="otpVerifyForm">
                    <div class="form-group">
                        <input type="text" name="Otp" class="form-control" id="Otp" placeholder="Enter your OTP">
                        <input type="hidden" name="Mob" value="{{mobile}}">
                        <input type="hidden" name="Pnum" value="{{Pnum}}">
                    </div>
                    <div id="counter"></div>
                    <button onclick="resendotp('{{Ccode}}','{{Pnum}}')" type="button" class="btn btn=success btn-sm" id="resendButton">Resend OTP</button>
                    <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
                </form>
            </div>
        </div>
    </div>

</div>


                    </div>

                    <div class="pull-right lost-pass">
                        <a href="/forgot-password">Forget Password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </form>
                <div class="form-links text-center">
                    <a href="/signup">Create New Account</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation

    $(document).ready(function () {
        


        $('#otpVerifyForm').validate({

            rules: {

                Otp: {
                    required: true,
                    minlength:4,
                    maxlength:4,
                    digits:true
                }

            },

            messages: {

                Otp: {
                    required: "This field cannot be left blank",
                    minlength:"Invalid OTP",
                    maxlength:"Invalid OTP",
                    digits:"Invalid OTP"
                }

            }
        })
    })

</script>

<style>
    .error {
        color: red !important;
        font-size: small !important;
        margin-left: 10px
    }
</style>

<script>
    var count = 30
    function counter() {
        document.getElementById("counter").innerHTML = `<span>Request to resend OTP in : ${count}s</span>`
        count = count - 1;
        if (count >= 0) {
            setTimeout(counter, 1000)
        }
    }

    window.onload = counter();
    window.onload = document.getElementById('resendButton').disabled = true

    window.onload = function () {
        window.setTimeout(setDisabled, 30000);
    }

    //function to enable resend button
    function setDisabled() {
        document.getElementById('resendButton').disabled = false
    }


    function resendotp(countryCode,Pnum) {

        $.ajax({
            url: '/otprequest',
            data: {
                countryCode: countryCode,
                Pnum: Pnum,
                resend:true
            },
            method: 'post',
            success: () => {
                location.reload()
            }
        })
    }
</script>