<script>


    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>

{{>userheader}}

<section id="page-title" class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Profile</h3>
            </div>


        </div>

    </div>

</section>


<section style="padding:10px">
    {{#if Err}}
    <div>
        <h5 class="text-center mt-2" style="color:red;font-weight:normal">{{Err}}</h5>
    </div>
    {{/if}}
    {{#if Msg}}
    <div>
        <h5 class="text-center mt-2" style="color:green;font-weight:normal">{{Msg}}</h5>
    </div>
    {{/if}}
    <div class="container bootstrap snippet">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">DETAILS</a></li>
            <li><a data-toggle="tab" href="#messages"> ADDRESS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <br>
                <div class="row text-right">
                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#resetPasModal">CHANGE
                        PASSWORD</a>
                    <div class="modal fade" id="resetPasModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h4 class="modal-title text-center " id="exampleModalLongTitle">CHANGE PASSWORD
                                    </h4>

                                </div>
                                <form class="mb-0" action="/change-password" method="POST" id="changePass-form">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <input type="password" onchange="checkPass()" name="CurrentPass"
                                                class="form-control" id="CurrentPass" placeholder="Current Password">

                                            <input type="password" name="NewPassword" class="form-control" id="NewPass"
                                                placeholder="New Password">

                                            <input type="password" name="Re_Pass" class="form-control" id="Re_Pass"
                                                placeholder="Re-enter new password">

                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <button class="btn btn-danger btn-sm" data-dismiss="modal">CANCEL</button>

                                            <button type="submit" class="btn btn-success btn-sm"
                                                id="changePassBtn">CHANGE PASSWORD</button>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>
                </div>

                <form class="form" action="/update-profile" method="post" id="profileForm"
                    enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group text-center">
                                <div class="row">
                                    <img style="width: 210px;height:210px" src="/user-images/{{user._id}}_dp.jpg"
                                        class="avatar img-circle img-thumbnail" alt="avatar" id="imgview1">
                                </div>
                                <div class="row">
                                    <label style="margin-top: 8px;" class="btn btn-sm btn-danger" for="file1">CHANGE
                                        DP</label>

                                    <input style="display:none" type="file" name="userImage" class="form-control"
                                        data-toggle="modal" 
                                        onchange="return fileValidation1()" id="file1">
                                    <br>
                                    <div id="errMsg1"></div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-xs-6">
                                        <label for="first_name">
                                            <h6>Name</h6>
                                        </label>
                                        <input type="text" class="form-control" name="Username" id="firstName"
                                            placeholder="first name" value="{{user.Username}}"
                                            title="enter your first name if any.">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="email">
                                            <h6>Email</h6>
                                        </label>
                                        <input type="email" class="form-control" name="Email" id="email"
                                            placeholder="you@email.com" value="{{user.Email}}"
                                            title="enter your email.">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="mobile">
                                            <h6>Mobile</h6>
                                        </label>
                                        <input type="number" class="form-control" name="Pnum" id="mobile"
                                            placeholder="enter mobile number" value="{{user.Pnum}}"
                                            title="enter your mobile number if any.">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-success" id="confirm-btn" type="submit">UPDATE</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for cropping-->

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h4 class="modal-title" style="font-weight: bold;" id="exampleModalLongTitle">Crop
                                        Image
                                    </h4>

                                </div>

                                <div class="modal-body">
                                    <div id="image-box" style="display:none;"></div>
                                </div>

                                <div class="modal-footer">

                                    <button onclick="buttonDisplay()" type="button" class="btn btn-danger btn-sm"
                                        data-dismiss="modal" style="display: inline;">Close</button>

                                    <button id="crop-btn" data-dismiss="modal" type="button"
                                        class="btn btn-success btn-sm" style="display: inline;">Crop</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

            <!--/tab-pane-->


            <div class="tab-pane" id="messages">

                <br>

                <div class="row">


                    <div class="billing-address text-center">
                        {{#if address}}
                        <h5 class="checkout-box-title">SAVED ADDRESS</h5>
                        <hr>
                        {{/if}}

                        <div class="row checkout-billing-adress-box">
                            {{#each address.Address}}
                            <div class="col-md-3">
                                <dl class='text-left'>
                                    <dt style="margin-bottom:10px;color:black">{{this.First_Name}} {{this.Last_Name}}
                                    </dt>
                                    <dd>"{{this.Company_Name}}"</dd>
                                    <dd>{{this.Street_Address}}, {{this.Extra_Details}},</dd>
                                    <dd>{{this.Town_City}}, {{this.Country_State}},</dd>
                                    <dd>PIN: {{this.Post_Code}},</dd>
                                    <dd>Ph: {{this.Phone}},</dd>
                                    <dd>Alt-Ph: {{this.Alt_Phone}}</dd>
                                    <dt style="margin-top:10px;margin-left:25px"><a
                                            href="/edit-address?id={{this.addressId}}">
                                            <i class="material-icons">edit</i>
                                        </a><span>
                                            <a href="/delete-address?id={{this.addressId}}">
                                                <i class="material-icons">delete</i>
                                            </a></span></dt><br>

                                </dl>
                            </div>
                            {{/each}}
                        </div>

                    </div>

                </div>
                <hr>
                <h5 class="checkout-box-title text-center">ADD ADDRESS</h5>
                <hr>
                <div class="row">

                    <form class="form" action="/addNewAddress" method="post" id="addAddress">
                        <div class="form-group">

                            <div class="col-md-3">
                                <label for="first_name">
                                    <h6>First Name</h6>
                                </label>
                                <input type="text" class="form-control" name="First_Name" id="firstName"
                                    placeholder="first name">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-3">
                                <label for="last_name">
                                    <h6>Last Name</h6>
                                </label>
                                <input type="text" class="form-control" name="Last_Name" id="last_name"
                                    placeholder="last name">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="last_name">
                                    <h6>Company / House name</h6>
                                </label>
                                <input type="text" class="form-control" name="Company_Name" id="last_name"
                                    placeholder="last name">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="phone">
                                    <h6>Address line 1</h6>
                                </label>
                                <input type="text" class="form-control" name="Street_Address" id="Address line 1"
                                    placeholder="Address line 2">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="mobile">
                                    <h6>Address line 2</h6>
                                </label>
                                <input type="text" class="form-control" name="Extra_Details" id="Address line 2"
                                    placeholder="Address line 2">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="email">
                                    <h6>Town / City</h6>
                                </label>
                                <input type="text" class="form-control" name="Town_City" id="city" placeholder="city">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="email">
                                    <h6>Country / State</h6>
                                </label>
                                <input type="text" class="form-control" name="Country_State" id="state"
                                    placeholder="state">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="password">
                                    <h6>PIN code</h6>
                                </label>
                                <input type="number" class="form-control" name="Post_Code" id="pincode"
                                    placeholder="pincode">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-3">
                                <label for="password">
                                    <h6>Phone</h6>
                                </label>
                                <input type="number" class="form-control" name="Phone" id="contact"
                                    placeholder="contact">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-3">
                                <label for="password">
                                    <h6>Alternate Phone</h6>
                                </label>
                                <input type="number" class="form-control" name="Alt_Phone" id="contact"
                                    placeholder="contact">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <br><br>
                                <button class="btn btn-success" type="submit">Submit</button>

                            </div>
                        </div>
                    </form>


                </div>

            </div>
            <!--/tab-content-->


            <!--/col-9-->

        </div>
</section>
{{>userfooter}}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<script>

    function buttonDisplay() {
        document.getElementById('confirm-btn').style.display = 'block';
    }


    function fileValidation1() {

        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file1');

        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.webp|\.png)$/i;

        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('exampleModalCenter').style.display = 'none'
            document.getElementById('errMsg1').innerHTML = '<p style="color:red;">Unsupported file type</p>'
            fileInput.value = '';
            return false;

        } else {
            
            //Image input field id
            var fileTrue = document.getElementById('file1').onchange.length
            if (fileTrue == 1) {
                document.getElementById('file1').dataset.target = '#exampleModalCenter'
                //Give modal target to the input field

                //add a click event to the input field so that the modal could open
                document.getElementById('file1').click()

                //Making filetrue to 0 So that the modal will only open if there is a file 
                fileTrue = 0
            }
            //Making data target to none so that modal will open if there is a file
            document.getElementById('file1').dataset.target = 'none'

            //Image preview
            document.getElementById('errMsg1').innerHTML = ''
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'inline'
            document.getElementById('confirm-btn').style.display = 'none'

            const cropper = new Cropper(image, {

                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 157 / 155,
                //preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,

            })

            crop_btn.addEventListener('click', () => {

                cropper.getCroppedCanvas().toBlob((blob) => {

                    let fileInputElement = document.getElementById('file1');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();

                    container.items.add(file);
                    const img = container.files[0]
                    var url = URL.createObjectURL(img)
                    fileInputElement.files = container.files;
                    document.getElementById('imgview1').src = url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'inline'

                });

            });

        }

    }
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation

    $(document).ready(function () {

        $.validator.addMethod("alpha", function (value, element) {
            return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        });

        $('#addAddress').validate({

            rules: {

                First_Name: {
                    required: true,
                    alpha: true,
                    minlength: 3,
                },

                Last_Name: {
                    required: true,
                    alpha: true
                },

                Company_Name: {
                    required: true,
                    minlength: 3
                },

                Street_Address: {
                    required: true,
                    minlength: 3
                },

                Extra_Details: {
                    required: true,
                    minlength: 3
                },

                Town_City: {
                    required: true,
                    alpha: true,
                    minlength: 3
                },

                Country_State: {
                    required: true,
                    alpha: true,
                    minlength: 3
                },

                Post_Code: {
                    required: true,
                    minlength: 6,
                    maxlength: 6
                },

                Phone: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                },

                Alt_Phone: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                }


            },

            messages: {

                First_Name: {
                    alpha: "Name should be in alphabets"
                },

                Last_Name: {
                    alpha: "Name should be in alphabets"
                },
                Town_City: {
                    alpha: "This field should be in alphabets"
                },

                Country_State: {
                    alpha: "This field should be in alphabets"
                }

            }

        })


        $('#profileForm').validate({

            rules: {

                Username: {
                    required: true,
                    alpha: true,
                    minlength: 5
                },

                Email: {
                    required: true,
                    minlength: 5
                },

                Pnum: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                }

            },

            messages: {

                Username: {
                    required: "Enter your username",
                    alpha: "Name should be in alphabets",
                    minlength: "Username must be atleast of 5 characters"
                },

                Email: {
                    required: "Enter your email id",
                    minlength: "Email id is too short"
                },

                Pnum: {
                    required: "Enter your mobile number",
                    minlength: "Mobile number must be of 10 digits",
                    maxlength: "Mobile number must not exceed 10 digits"
                }
            }

        })

        $('#changePass-form').validate({
            ignore: "",
            rules: {

                CurrentPass: {
                    required: true,
                },

                NewPassword: {
                    required: true,
                    minlength: 4
                },

                Re_Pass: {
                    required: true,
                    equalTo: "#NewPass"

                }

            },

            messages: {

                CurrentPass: {
                    required: "Enter your current password",
                },

                NewPassword: {
                    required: "Enter you new password",
                    minlength: "password too short"
                },

                Re_Pass: {
                    required: "Re-enter you new password",
                    equalTo: "Password mismatch"

                }
            }

        })

    })

</script>

<style>
    .error {
        color: red !important;
        font-size: x-small !important;
        margin-left: 10px;
    }
</style>

<style>
    h6 {
        margin: 23px 0 0;
    }

    input {
        padding: none;
    }

    dl {
        margin: 0;
    }

    dd {
        margin: 0;
    }
</style>
<script>
    function checkPass() {

        var currentPass = document.getElementById('CurrentPass').value
        $.ajax({

            url: '/checkPass?pass=' + currentPass,
            method: 'get',
            success: (result) => {
                if (result) {
                    document.getElementById('changePassBtn').style.display = 'inline'
                } else {
                    swal("Oops!!..", `Incorrect password!`, "error");
                    document.getElementById('changePassBtn').style.display = 'none'
                }
            }

        })

    }
</script>