{{>userheader}}

<section style="padding-top:50px;padding-bottom:30px;margin-bottom:-100px">
    <div class="container heading">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="subheading">JUST A STEP AWAY</p>
                <h2>CHOOSE YOUR CAR MODEL</h2>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6" style="display:flex;justify-content:end">
                <img src="/car-brand-logos/{{carBrand._id}}CBL.jpg" style="height:100px;width:100px" alt="client">
            </div>

        </div>

    </div>

    <div class="row product-boxes">

        {{#each carBrand.Car_Model}}
        <div class="col-md-3 product-box">

            <a href="/shop-by-car-model?carModelId={{this.modelId}}&carModel={{this.Model_Name}}">

                <div class="product-img" style="display:flex; justify-content:center;">
                    <img src="car-model-images/{{this.modelId}}CMI.jpg" style="height:150px;width:150px"
                        alt="Product" />
                </div>

                <div class="text-center">
                    <h6>{{this.Model_Name}}</h6>
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</section>
{{>userfooter}}