{{>userheader}}

<section id="shopgrid" class="shop shop-grid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 sidebar">

                <div class="widget widget-categories">
                    <div class="widget-title">
                        <h5>categories</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="list-unstyled">
                            {{#each categories}}
                            <li>
                                <a href="#"><i
                                        class="fa fa-angle-double-right"></i>{{this.Main_Cat}}<span>(5)</span></a>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>


                {{!-- <div class="widget widget-recent-products">
                    <div class="widget-title">
                        <h5>Recent Items</h5>
                    </div>
                    <div class="widget-content">

                        <div class="product">
                            <img src="assets/images/shop/thumb/4.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Front LIGHTING</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$13.99</span>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <img src="assets/images/shop/thumb/5.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Thermal Fan</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$15.99</span>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <img src="assets/images/shop/thumb/6.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Cold Air System</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$11.99</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div> --}}


                {{!-- <div class="widget widget-filter">
                    <div class="widget-title">
                        <h5>Filter By Price</h5>
                    </div>
                    <div class="widget-content">
                        <div id="slider-range"></div>
                        <p>
                            <label for="amount">Price: </label>
                            <input type="text" id="amount" readonly>
                        </p>
                        <a class="btn btn-secondary" href="#">filter</a>
                    </div>
                </div> --}}


                <div class="widget widget-brands">
                    <div class="widget-title">
                        <h5>Brands</h5>
                    </div>
                    <div class="widget-content">
                        <form>

                            {{#each carBrands}}

                            <div class="check-option">
                                <input type="checkbox" class="checkbox-style" name="brands" id="Opel" value="Opel">
                                <label for="Opel" class="checkbox-label">{{this.Car_Brand}} <span>(5)</span></label>
                            </div>

                            {{/each}}

                        </form>
                    </div>
                </div>


                {{!-- <div class="widget widget-recent-products">
                    <div class="widget-title">
                        <h5>Best Sellers</h5>
                    </div>
                    <div class="widget-content">

                        <div class="product">
                            <img src="assets/images/shop/thumb/7.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Front LIGHTING</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$13.99</span>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <img src="assets/images/shop/thumb/8.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Thermal Fan</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$15.99</span>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <img src="assets/images/shop/thumb/8.jpg" alt="product" />
                            <div class="product-desc">
                                <div class="product-title">
                                    <a href="#">Cold Air System</a>
                                </div>
                                <div class="product-meta">
                                    <span class="color-theme">$11.99</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div> --}}


                {{!-- <div class="widget widget-tags">
                    <div class="widget-title">
                        <h5>tag clouds</h5>
                    </div>
                    <div class="widget-content">
                        <a href="#">responsive</a>
                        <a href="#">modern</a>
                        <a href="#">corporate</a>
                        <a href="#">business</a>
                        <a href="#">fresh</a>
                        <a href="#">awesome</a>
                        <a href="#">business</a>
                        <a href="#">fresh</a>
                        <a href="#">corporate</a>
                        <a href="#">autoshop</a>
                    </div>
                </div> --}}

            </div>

            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="product-num pull-left pull-none-xs">
                            <h3>Showing 1 : 16 of <span class="color-theme">245</span> product</h3>
                        </div>

                        <div class="product-options pull-right text-right pull-none-xs">
                            <i class="fa fa-angle-down"></i>
                            <select>
                                <option selected="" value="Default">Default Sorting</option>
                                <option value="Larger">Newest Items</option>
                                <option value="Larger">oldest Items</option>
                                <option value="Larger">Hot Items</option>
                                <option value="Small">Highest Price</option>
                                <option value="Medium">Lowest Price</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="row">

                    {{#each products }}

                    <div class="col-xs-12 col-sm-6 col-md-4 product">
                        <div class="product-img">
                            <img src="/product-images/{{this._id}}_1.jpg" alt="Product" />
                            <div class="product-hover">
                                <div class="product-action">
                                    {{#if ../user}}

                                    <a class="btn btn-primary" href="/prodBuyNow?prodId={{this._id}}">Buy now</a>

                                    {{#hello ../cart this._id this.Price this.Product_Name}}

                                    {{/hello}}

                                    {{else}}

                                    <a class="btn btn-primary" href="/login">Buy now</a>

                                    <a class="btn btn-primary" href="/login">Add to cart</a>

                                    {{/if}}
                                </div>
                            </div>

                        </div>

                        <div class="product-bio">
                            <div class="prodcut-cat">
                                <a href="/shopByProdBrand?prodBrand={{this.Product_Brand}}">{{this.Product_Brand}}</a>
                            </div>

                            <div class="prodcut-title">
                                <h3>
                                    <a href="/view-product?id={{this._id}}">{{this.Product_Name}}</a>
                                </h3>
                            </div>

                            <div class="product-price">
                                <span class="symbole">₹</span><span>{{this.Price}}</span>
                            </div>

                        </div>

                    </div>

                    {{/each}}


                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="pagination">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>

{{>userfooter}}

<script>

    function addToCart(prodId, price, prodName) {
        $.ajax({

            url: '/add-to-cart?id=' + prodId + '&price=' + price + '&prodName=' + prodName,
            method: 'get',
            success: (response) => {

                if (response.status) {
                    let count = $('#cart-count').html()
                    count = parseInt(count) + 1
                    $("#cart-count").html(count)
                    swal("Success!", "Product added to cart!", "success", {
                        button: "OK",
                    }).then(()=>{    
                            location.reload()    
                    })

                }

            }
        })
    }

</script>