{{>userheader}}

<section id="shopgrid" class="shop shop-grid">
    <div class="container">

        <div class="container heading">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <p class="subheading" style="line-height: 12px;">EXPLORE PRODUCTS FOR YOUR</p>
                    <h2>{{carModelName}}</h2>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6" style="display:flex;justify-content:end;">
                    <img src="car-model-images/{{carModelId}}CMI.jpg" style="height:120px;width:120px" alt="client">
                </div>

            </div>

        </div>


        <div class="row">

            {{#each products}}

            <div class="col-xs-12 col-sm-6 col-md-3 product">
                <div class="product-img">
                    <img src="/product-images/{{this._id}}_1.jpg" alt="Product" />
                    <div class="product-hover">
                        <div class="product-action">
                            {{#gt this.Stock '0'}}
                            {{#if ../user}}

                            <a class="btn btn-primary" href="/prodBuyNow?prodId={{this._id}}">Buy now</a>



                            {{#hello ../cart this._id this.Price this.Product_Name}}

                            {{/hello}}

                            {{else}}

                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&token=guestToBuyNow&guestRedirect=true">Buy now</a>


                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&prodPrice={{this.Price}}&prodName={{this.Product_Name}}&token=guestToCart&guestRedirect=true">Add
                                to cart</a>

                            {{/if}}
                            {{else}}
                            <img src="/product-images/sold_out2.png" alt="Product" />
                            {{/gt}}

                        </div>
                    </div>

                </div>

                <div class="product-bio">
                    <div class="prodcut-cat">
                        <a href="/shopByProdBrand?prodBrand={{this.Product_Brand}}">{{this.Product_Brand}}</a>
                    </div>

                    <div class="prodcut-title">
                        <h3>
                            <a href="/view-product?id={{this._id}}">{{this.Product_Name}}</a><br>
                        </h3>
                    </div>

                    <div class="product-price">

                        <span class="symbole">₹</span><span>{{this.Price}}</span>
                        {{#if this.offer}}
                        <br><span style="font-size: small;">MRP : ₹<s>{{this.tempPrice}}</s><span style="color: green;">
                                {{this.offer}}%
                                OFF</span></span>

                        {{/if}}
                    </div>

                </div>

            </div>

            {{/each}}

        </div>

        {{!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="pagination">
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div> --}}
    </div>

</section>

{{>userfooter}}

<style>

    @media only screen and (min-width: 1366px){
    .product {
        height:30em;
    }
    }

     @media only screen and (min-width: 1024px){
    .product {
        height:30em;
    }
    }

</style>

