{{>userheader}}

<section id="hero" class="hero container">
    <div id="hero-slider" class="hero-slider">

        <div class="slide bg-overlay">

            <div class="bg-section">

                <img src="images/sliders/1.jpg" alt="Background" />

            </div>

            <div class="container vertical-center">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

                        <div class="slide-content">

                            <div class="slide-icon">
                                <i class="icon icon-Settings"></i>
                            </div>

                            <div class="slide-heading"> The Best Theme For Auto Shops </div>

                            <div class="slide-title">
                                <h2>Say Hello To <span class="color-theme">Car Shop !</span></h2>
                            </div>

                            <div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic,
                                Car Repair
                                Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting,
                                Auto Centres.
                            </div>

                            <div class="slide-action">
                                <a class="btn btn-primary" href="#">Check It Now</a>
                                <a class="btn btn-primary btn-white" href="#">Purchase Now</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="slide bg-overlay">
            <div class="bg-section">
                <img src="images/sliders/8.jpg" alt="Background" />
            </div>
            <div class="container vertical-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                        <div class="slide-content">
                            <div class="slide-heading"> The Best product in market </div>
                            <div class="slide-title">
                                <h2>get all you need easily</h2>
                            </div>
                            <div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic,
                                Car Repair
                                Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting,
                                Auto Centres.
                            </div>
                            <div class="slide-action">
                                <a class="btn btn-primary" href="#">Check It Now</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="slide bg-overlay">
            <div class="bg-section">
                <img src="images/sliders/6.jpg" alt="Background" />
            </div>
            <div class="container vertical-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                        <div class="slide-content">
                            <div class="slide-heading"> product start from $40 </div>
                            <div class="slide-title">
                                <h2>get by largest <span class="color-theme">brands</span></h2>
                            </div>
                            <div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic,
                                Car Repair
                                Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting,
                                Auto Centres.
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="clients" class="clients bg-gray">
    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">LET'S GET STARTED</p>
                <h2>SHOP BY CAR</h2>
            </div>

        </div>

        <div class="row heading-desc">
            <div class="col-xs-12 col-sm-12 col-md-10">
                <p>Choose your car from the list so that, we could introduce you the best match from our collection for
                    a hustle free shopping experience</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2">
                <a class="btn btn-primary btn-block" href="#">Check All Brands</a>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="clients-bg">
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-12 client-carousel">

                    {{#each carBrands}}

                    <div class="client">
                        <a href="/chooseCarModel?brandId={{this._id}}"><img src="/car-brand-logos/{{this._id}}CBL.jpg"
                                style="height:100px;width:100px" alt="client"></a>
                    </div>

                    {{/each}}


                </div>
            </div>

        </div>
    </div>

</section>


<section id="featuredItems" class="shop" style="padding-top: 8px;">

    <div class="container heading">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">LET'S SEE WHAT YOU ARE LOOKING FOR</p>
                <h2>SHOP BY CATEGORY</h2>
            </div>

        </div>

    </div>

    <div class="container">


        <ul style="width:100%" class="nav  nav-tabs navbar-nav navbar-left">
            {{#each categories}}
            <li>
                <a style="color:black" data-toggle="tab" href="#{{this._id}}">{{this.Main_Cat}}</a>
            </li>
            {{/each}}

        </ul>


        <div class="tab-content">
            {{#each categories}}
            <div class="tab-pane" id="{{this._id}}">
                <div class="row product-boxes">

                    {{#each this.Sub_Cat}}
                    <div class="col-md-3 product-box">

                        <a href="#">

                            <div class="product-img" style="display:flex; justify-content:center;">
                                <img src="sub-category-images/{{this.subCatId}}SCI.jpg" style="height:150px;width:150px"
                                    alt="Product" />
                            </div>

                            <div class="text-center" style="margin-top:12px;">
                                <h6>{{this.Sub_Cat}}</h6>
                            </div>

                        </a>

                    </div>
                    {{/each}}


                </div>
            </div>

            {{/each}}


        </div>





    </div>


    {{!-- <div class="container">
        <div class="row product-boxes">



        </div>

    </div> --}}

    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">introducing</p>
                <h2>New Items</h2>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row product-carousel text-center">
            {{#each product}}
            <div class="product">
                <div class="product-img">
                    <img src="/product-images/{{this._id}}_1.jpg" alt="Product" />
                    <div class="product-hover">
                        <div class="product-action">
                            {{#if ../user}}

                            <a class="btn btn-primary" href="/prodBuyNow?prodId={{this._id}}">Buy now</a>



                            {{#hello ../cart this._id this.Price}}

                            {{/hello}}

                            {{else}}

                            <a class="btn btn-primary" href="/login">Buy now</a>


                            <a class="btn btn-primary" href="/login">Add to cart</a>

                            {{/if}}

                        </div>
                    </div>

                </div>

                <div class="product-bio">
                    <div class="prodcut-cat">
                        <a href="#">{{this.Car_Model}}</a>
                    </div>

                    <div class="prodcut-title">
                        <h3>
                            <a href="/view-product?id={{this._id}}">{{this.Product_Name}}</a>
                        </h3>
                    </div>

                    <div class="product-price">
                        <span class="symbole">₹</span><span>{{this.Price}}</span>
                    </div>

                </div>

            </div>
            {{/each}}




        </div>

    </div>

</section>





<section id="newItems" class="shop">
    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">our hot selling</p>
                <h2>Featured Products</h2>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row product-carousel text-center">

            <div class="product">
                <div class="product-img">
                    <img src="images/shop/grid/1.jpg" alt="Product" />
                    <div class="product-hover">
                        <div class="product-action">
                            <a class="btn btn-primary" href="#">Add To Cart</a>
                            <a class="btn btn-primary" href="#">Item Details</a>
                        </div>
                    </div>

                </div>

                <div class="product-bio">
                    <div class="prodcut-cat">
                        <a href="#">Opel</a>
                    </div>

                    <div class="prodcut-title">
                        <h3>
                            <a href="#">Brake Discs</a>
                        </h3>
                    </div>

                    <div class="product-price">
                        <span class="symbole">$</span><span>68.00</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{{>userfooter}}

<script>
    function addToCart(prodId, price) {
        $.ajax({
            url: '/add-to-cart?id=' + prodId + '&price=' + price,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    let count = $('#cart-count').html()
                    count = parseInt(count) + 1
                    $("#cart-count").html(count)
                    location.reload()
                }
            }
        })
    }
</script>