{{>userheader}}

<section id="hero" class="hero">
    <div id="hero-slider" class="hero-slider">

        {{#each Ads}}
        <a href="/shop-by-offer?offerName={{this.Offer}}">
            <div class="slide">

                <div class="bg-section">

                    <img src="/Ad-Images/{{this._id}}Ad_img.jpg" alt="Background" />

                </div>

                {{!-- <div class="container vertical-center">

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

                            <div class="slide-content">

                                <div class="slide-icon">
                                    <i class="icon icon-Settings"></i>
                                </div>

                                <div class="slide-heading"> The Best Theme For Auto Shops </div>

                                <div class="slide-title">
                                    <h2>Say Hello To <span class="color-theme">Car Shop !</span></h2>
                                </div>

                                <div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto
                                    Mechanic,
                                    Car Repair
                                    Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting,
                                    Auto Centres.
                                </div>

                                <div class="slide-action">
                                    <a class="btn btn-primary" href="#">Check It Now</a>
                                    <a class="btn btn-primary btn-white" href="#">Purchase Now</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div> --}}

            </div>
        </a>
        {{/each}}

    </div>

</section>

<section id="clients" class="clients bg-gray">
    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">LET'S GET STARTED</p>
                <h2>SHOP BY CAR</h2>
            </div>

        </div>

        <div class="row heading-desc">
            <div class="col-xs-12 col-sm-12 col-md-10">
                <p>Choose your car from the list so that, we could introduce you the best match from our collection for
                    a hustle free shopping experience</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2">
                <a class="btn btn-primary btn-block" href="/all-brands">Check All Brands</a>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="clients-bg">
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-12 client-carousel">

                    {{#each carBrands}}

                    <div class="client">
                        <a href="/chooseCarModel?brandId={{this._id}}"><img src="/car-brand-logos/{{this._id}}CBL.jpg"
                                style="height:100px;width:100px" alt="client"></a>
                    </div>

                    {{/each}}


                </div>
            </div>

        </div>
    </div>

</section>


<section id="featuredItems" class="shop" style="padding-top: 8px;">

    <div class="container heading">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">LET'S SEE WHAT YOU ARE LOOKING FOR</p>
                <h2>SHOP BY CATEGORY</h2>
            </div>

        </div>

    </div>

    <div class="container">


        <ul style="width:100%" class="nav  nav-tabs navbar-nav navbar-left">
            {{#each categories}}
            <li>
                <a style="color:black" data-toggle="tab" href="#{{this._id}}">{{this.Main_Cat}}</a>
            </li>
            {{/each}}

        </ul>


        <div class="tab-content">
            {{#each categories}}
            <div class="tab-pane" id="{{this._id}}">
                <div class="row product-boxes">

                    {{#each this.Sub_Cat}}
                    <div class="col-md-3 product-box">

                        <a href="/shopByCat?subCat={{this.Sub_Cat}}">

                            <div class="product-img" style="display:flex; justify-content:center;">
                                <img src="sub-category-images/{{this.subCatId}}SCI.jpg" style="height:150px;width:150px"
                                    alt="Product" />
                            </div>

                            <div class="text-center" style="margin-top:12px;">
                                <h6>{{this.Sub_Cat}}</h6>
                            </div>

                        </a>

                    </div>
                    {{/each}}


                </div>
            </div>

            {{/each}}


        </div>





    </div>

</section>

<section id="newItems" class="shop" style="padding-top: 8px;">
    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">HURRY GRAB THEM QUICKLY</p>
                <h2>ON OFFER</h2>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row product-carousel text-center">

            {{#each product}}
            <div class="product">
                <div class="product-img">
                    <img src="/product-images/{{this._id}}_1.jpg" alt="Product" />
                    <div class="product-hover">
                        <div class="product-action">
                            {{#gt this.Stock '0'}}
                            {{#if ../user}}

                            <a class="btn btn-primary" href="/prodBuyNow?prodId={{this._id}}">Buy now</a>



                            {{#hello ../cart this._id this.Price this.Product_Name}}

                            {{/hello}}

                            {{else}}

                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&token=guestToBuyNow&guestRedirect=true">Buy now</a>


                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&prodPrice={{this.Price}}&prodName={{this.Product_Name}}&token=guestToCart&guestRedirect=true">Add
                                to cart</a>

                            {{/if}}
                            {{else}}
                            <img src="/product-images/sold_out2.png" alt="Product" />
                            {{/gt}}

                        </div>
                    </div>

                </div>

                <div class="product-bio">
                    <div class="prodcut-cat">
                        <a href="/shopByProdBrand?prodBrand={{this.Product_Brand}}">{{this.Product_Brand}}</a>
                    </div>

                    <div class="prodcut-title">
                        <h3>
                            <a href="/view-product?id={{this._id}}">{{this.Product_Name}}</a><br>
                        </h3>
                    </div>

                    <div class="product-price">

                        <span class="symbole">₹</span><span>{{this.Price}}</span>
                        {{#if this.offer}}
                        <br><span style="font-size: small;">MRP : ₹<s>{{this.tempPrice}}</s><span style="color: green;">
                                {{this.offer}}%
                                OFF</span></span>

                        {{/if}}
                    </div>

                </div>

            </div>
            {{/each}}

        </div>

    </div>

</section>

<section id="featuredItems" class="shop" style="padding-top: 8px;">
    <div class="container heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="subheading">introducing</p>
                <h2>New Items</h2>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row product-carousel text-center">
            {{#each product}}
            <div class="product">
                <div class="product-img">
                    <img src="/product-images/{{this._id}}_1.jpg" alt="Product" />
                    <div class="product-hover">
                        <div class="product-action">
                            {{#gt this.Stock '0'}}
                            {{#if ../user}}

                            <a class="btn btn-primary" href="/prodBuyNow?prodId={{this._id}}">Buy now</a>



                            {{#hello ../cart this._id this.Price this.Product_Name}}

                            {{/hello}}

                            {{else}}

                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&token=guestToBuyNow&guestRedirect=true">Buy now</a>


                            <a class="btn btn-primary"
                                href="/login?prodId={{this._id}}&prodPrice={{this.Price}}&prodName={{this.Product_Name}}&token=guestToCart&guestRedirect=true">Add
                                to cart</a>

                            {{/if}}
                            {{else}}
                            <img src="/product-images/sold_out2.png" alt="Product" />
                            {{/gt}}

                        </div>
                    </div>

                </div>

                <div class="product-bio">
                    <div class="prodcut-cat">
                        <a href="/shopByProdBrand?prodBrand={{this.Product_Brand}}">{{this.Product_Brand}}</a>
                    </div>

                    <div class="prodcut-title">
                        <h3>
                            <a href="/view-product?id={{this._id}}">{{this.Product_Name}}</a><br>
                        </h3>
                    </div>

                    <div class="product-price">

                        <span class="symbole">₹</span><span>{{this.Price}}</span>
                        {{#if this.offer}}
                        <br><span style="font-size: small;">MRP : ₹<s>{{this.tempPrice}}</s><span style="color: green;">
                                {{this.offer}}%
                                OFF</span></span>

                        {{/if}}
                    </div>

                </div>

            </div>
            {{/each}}




        </div>

    </div>

</section>







{{>userfooter}}

<script>

    function addToCart(prodId, price, prodName) {
        $.ajax({

            url: '/add-to-cart?id=' + prodId + '&price=' + price + '&prodName=' + prodName,
            method: 'get',
            success: (response) => {

                if (response.status) {
                    let count = $('#cart-count').html()
                    count = parseInt(count) + 1
                    $("#cart-count").html(count)
                    swal("Success!", "Product added to cart!", "success", {
                        button: "OK",
                    }).then(() => {
                        location.reload()
                    })

                }

            }
        })
    }


</script>